body {
    background-color: #c0c0c0;
}

.custom-width-300 {
    max-width: 300px;
}

.custom-width-350 {
    max-width: 350px;
}

.custom-width-500 {
    max-width: 500px;
}

.custom-width-600 {
    max-width: 600px;
}

.custom-width-800 {
    max-width: 800px;
}

.form-error {
    list-style: none;
    padding: 0;
    color: #CC0000;
}