{% extends 'master.html' %}

{% block content %}
    <div class="m-1 text-center"><h1>Сброс пароля</h1></div>

    <div class="container-fluid custom-width-350 form-group">
        <form method="post">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
                <div class="form-floating mt-3">
                    <input class="form-control shadow-lg"
                           name="{{ f.name }}"
                           type="{{ f.field.widget.input_type }}"
                           id="{{ f.id_for_label }}" autocomplete="on"
                           value="{% if f.value %}{{ f.value }}{% endif %}"
                           placeholder="">
                    <label for="{{ f.id_for_label }}">{{ f.label }}</label>

                    <div class="">{{ f.error }}</div>
                </div>
            {% endfor %}
            <div class="text-center mt-3">
                <button class="btn btn-info" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock %}