{% extends 'master.html' %}

{% block content %}
<!-- Title -->
<div class="m-1 text-center"><h1>{{ title }}</h1></div>
<!-- Form type and container width -->
<div class="container-fluid custom-width-300 form-group">
<form method="post">

{% csrf_token %}

<div class="form-error">{{ form.non_field_errors }}</div>

<!-- Form body -->
{% for f in form %}
    <div class="form-floating mt-3">
        <input class="form-control shadow-lg"
                {% if f.field.disabled %}
               disabled
                {% endif %}
               name="{{ f.name }}"
               type="{{ f.field.widget.input_type }}"
               id="{{ f.id_for_label }}" autocomplete="on"
               value="{% if f.value %}{{ f.value }}{% endif %}"
               placeholder="">
        <label for="{{ f.id_for_label }}">{{ f.label }}</label>

        <div class="">{{ f.error }}</div>
    </div>
{% endfor %}

<!-- Buttons and extra elements -->
    <div class="text-center px-0 pt-3">
        <button class="btn btn-info" type="submit">{{ btn_submit_title }}</button>
    </div>

</form>
</div>
{% endblock %}