{% extends 'master.html' %}

{% block content %}
    <div class="mt-3 text-center"><h2>{{ template_title }}</h2></div>

    <div class="mt-3 container-fluid text-center custom-width-600">

        <div class="row">
            <div class="col text-end badge fs-6">
                <div class="row pb-1">
                    <div>{{ courses.0.title }}</div>
                </div>
                <div class="row">
                    <div class="col text-end badge fs-6">
                    <a href="{{ courses.0.get_absolute_url }}">
                        <img src="https://iimg.su/s/18/zcC9bXnRCZ6WfXhQUFK3iwwada2e7QWkikklKnxH.jpg" alt=""
                             class="float-end shadow-lg custom-width-250 border border-1 border-dark rounded-start-5">
                    </a>
                    </div>
                </div>
            </div>
            <div class="col text-start badge fs-6">
                <div class="row pb-1">
                    <div>{{ courses.1.title }}</div>
                </div>
                <div class="row">
                    <div class="col text-end badge fs-6">
                    <a href="{{ courses.1.get_absolute_url }}">
                        <img src="https://iimg.su/s/18/TyY3MvDR0VCK1Mi4B9iP2C8ES8aI6PIqkzRRfIvq.jpg" alt=""
                             class="float-start shadow-lg custom-width-250 border border-1 border-dark rounded-end-5">
                    </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col text-end badge fs-6">
                <div class="row">
                    <div class="col text-end badge fs-6">
                    <a href="{{ courses.2.get_absolute_url }}">
                        <img src="https://iimg.su/s/18/zeQa12QoAf3wyCqnMztHP4WLLCHEDiqmwWVb7evm.jpg" alt=""
                             class="float-end shadow-lg custom-width-250 border border-1 border-dark rounded-start-5">
                    </a>
                    </div>
                </div>
                <div class="row">
                    <div>{{ courses.2.title }}</div>
                </div>
            </div>
            <div class="col text-start badge fs-6">
                <div class="row">
                    <div class="col text-end badge fs-6">
                    <a href="{{ courses.3.get_absolute_url }}">
                        <img src="https://iimg.su/s/18/PmRBoK8vrGSdALEHxKXexHwymF9fMTo6OE4qSQAQ.jpg" alt=""
                             class="float-start shadow-lg custom-width-250 border border-1 border-dark rounded-end-5">
                    </a>
                    </div>
                </div>
                <div class="row">
                    <div>{{ courses.3.title }}</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
