{% load user_tags %}

{% if page_obj.has_other_pages %}

    <div class="container text-end custom-width-700 mb-3">
        <div class="btn-group bg-body-secondary me-2" style="opacity: 75%" role="group">
            {% if page_obj.has_previous %}
                <a class="btn btn-outlined-secondary enabled" style="font-size: small"
                   href="/news?page={{ page_obj.previous_page_number }}">пред</a>
            {% endif %}

            {% for page in page_obj.paginator.num_pages|custom_range:1 %}
                {% if forloop.counter == page_obj.number %}
                    <a class="btn btn-outlined-secondary disabled" style="font-size: small">
                        {{ forloop.counter }}</a>
                {% else %}
                    <a class="btn btn-outlined-secondary" style="font-size: small"
                       href="/news?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outlined-secondary" style="font-size: small"
                   href="/news?page={{ page_obj.next_page_number }}">след</a>
            {% endif %}
        </div>
    </div>

{% endif %}