{% load user_tags %}
<div class="px-0 py-1 custom-width-160">
    <!-- Add coloring by course -- START -->
    <div class="card p-0 m-0 custom-width-160 rounded-3 text-center border border-1 border-secondary-subtle bg-gradient"
            {% if schedule.course == 'Изобразительное искусство' %}
                style="background-color: #ffd6a5">
            {% elif schedule.course == 'Хореографическое отделение' %}
                style="background-color: #fdffb6">
            {% elif schedule.course == 'Музыкальное отделение' %}
                style="background-color: #caffbf">
            {% elif schedule.course == 'Театральное искусство' %}
                style="background-color: #9bf6ff">
            {% else %}
                style="background-color: #fffffc">
            {% endif %}
    <!-- Add coloring by course -- END -->
    <div class="" style="font-size: small">
        <div class="card-subtitle p-0 m-0"
             style="font-weight: bolder">{{ schedule.time_start|slice:":5" }}
            - {{ schedule.time_end|slice:":5" }}</div>
        <div class="card-subtitle p-0 m-0 text-body-secondary"
             style="font-size: x-small; font-weight: bolder">{{ schedule.subject.title }}</div>
        <div class="card-content p-0 m-0 text-body-secondary"
             style="font-size: x-small; font-weight: bolder">Аудитория {{ schedule.classroom }}</div>
        <hr class="m-0 p-0"/>
        <div class="card-content p-0 m-0 text-body-secondary"
             style="font-size: small; font-weight: bolder">{{ schedule.teacher }}</div>
        <div class="card-content p-0 m-0 text-body-secondary"
             style="font-size: x-small; font-weight: bolder">{{ schedule.course }}</div>
    </div>
    </div>
</div>