<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'news' %}">Новости</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'courses' %}">Отделения</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'schedule' %}">Расписание</a>
    </li>
    {% if user.is_authenticated and user.type == 'STUDENT' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'student' %}">Кабинет</a>
        </li>
    {% endif %}
    {% if user.is_authenticated and user.type == 'ADMIN' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Админ</a>
        </li>
    {% endif %}
</ul>

<!-- Authentication block -->
<span class="">{% include 'users/auth_block.html' %}</span>