{% load static %}

<!-- Upper Nav Bar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top custom-opacity-98" data-bs-theme="dark">
    <div class="container-fluid">
        <!-- Brand items -->
        <a class="navbar-brand">
            <img src="{% static '/images/logo.png' %}" alt="Logo" width="50" height="50">
        </a>
        <a class="navbar-brand" href="{% url 'about' %}">Школа искусств</a>
        <!-- Toggler for small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Nav Bar menu items -->
        <div class="collapse navbar-collapse" id="navbarText">
            {% include 'upper_nav_bar_items.html' %}
        </div>
    </div>
</nav>